.footer{
    display:flex;
    justify-content: space-around;
}
.mid{
    display:flex;
    justify-content: space-around;
}
.contact{
    display:flex;
    justify-content: space-around;
}
img{
  height:500px;
  width:500px;
}

ul{
  color:black;  
}

p{
    color:black;
}

h1{
    color:purple;
    font-family: 'Fredericka the Great', cursive;
}

.row{   

    background-color:yellow;
    color:white;
    font-size:20px;
}
.headshot{
    width:500;
    height:500;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

.headshot{
    border-radius: 100%;
    
}